<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iteyes.placesproject">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".banner" />

        <activity
            android:name=".CheckInActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".PermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhs2LXC9uNJZJNR9I9KiR_B0ZD8YIisM0" />

        <receiver
            android:name=".MyLocationServices"/>

        <service android:name=".MyBackgroundServices"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7125308377921422~3231312850"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


</manifest>